.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 50;
  width: 100vw;
  height: 100vh;
}

.my-model {
  position: fixed;
  top: 15vh;
  left: 30vw;
  background-color: #fff;
  z-index: 70;
  width: 40vw;
  height: 40vh;
  padding: 20px;
}
